@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');
/*Generalizing each component and changing it to a border-box*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff);
}
/*Header styles*/
header {
    padding: 0.5rem 1rem;
    background-color: var(--mint-green);
    height: 5vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.25);
    border-radius:1rem;
}
.links-container {
    width:fit-content;
    padding: 0.2rem 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
}
a {
    color:black;
    text-decoration: none;
    transition: color 150ms ease-in, background-color 150ms ease-in;
    padding: 0.2rem 1.2rem;
    border-radius: 1rem;
}
a:hover {
    color: white;
    background-color: var(--vista-blue);
}
a:visited {
    color: black;
    text-decoration: none;
}
/*Section styles*/
section {
    width:min(90%,60rem);
    margin-inline:auto;
}
section h1 {
    text-align: center;
    margin: 1rem 1.5rem;
}
/*Button container and button styles*/
.btn-container {
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn-container button {
    color:white;
    background-color: var(--vista-blue);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    transition: background-color 0.5s, color 0.5s;
    font-weight: 600;
}
.btn-container button:hover {
    background-color: hsl(194, 79%, 32%);
}

table {
    border-collapse:initial;
    margin-inline:auto;
    width:min(90%,900px)
}

th {
   background-color:var(--purple);
   color: white;
   text-transform: capitalize;
   padding: 0.6rem 1rem;
   border-radius: 1rem;
   margin-bottom: 0.5rem;
}
td {
    border-radius:1rem;
}
tr,td {
    border-radius:1rem;
    padding: 0.6rem 1rem;   
    text-align: center;
}
tr {
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}
/*Hover effect on row*/
tr:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.25);
}

/*Icon styles */
.icon-container {
    display: inline-flex;
    align-items:center;
    padding: 0rem 0.5rem;
    margin: 0rem;
    border-radius:1rem;
    border:1px solid black;
    transition: color 500ms ease-in, background-color 500ms ease-in;
    font-weight: var(--fw-500);
}

.icon-container:hover {
    color: white;
    background-color: var(--vista-blue);
}

/*Card styles*/
.card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.card-container a {
    padding:0;
    margin:0;
}
.card {
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.25);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display:grid;
    transition: transform 0.5s ease, box-shadow 0.5s  ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.25);
}

.card h3 {
    text-align: left;
}
.card h4 {
    text-align:right;
    font-weight: var(--fw-900);
}
:root {
    --sky-blue:hsl(194, 100%, 66%);
    --vista-blue:hsl(222, 33%, 66%);
    --purple: hsl(307, 22%, 52%);
    --mint-green: hsl(175, 58%, 85%);
    --ff: "Fira Mono",monospace;
    --fw-400: 400;
    --fw-500:500;
    --fw-900:900;
}